# Python data structures

So far we have dealt with a few basic data types: int, float, boolean, string. But we often deal with multitudes of these in some sort of structure, for example a list. Python has a couple of built-in data structures to deal with this kind of data, and we briefly introduce the most important ones here: lists, tuples, sets, and dictionaries.

## Lists

Lists are simple to use and very useful

In [1]:
[] # empty list

[]

In [2]:
[1] # list with one element

[1]

In [3]:
[1, 2, 0, 5, -1] # list of some numbers

[1, 2, 0, 5, -1]

In [4]:
["a", "hello"] # list of some strings

['a', 'hello']

In [5]:
[1, "a"] # elements of various types in one list are ok

[1, 'a']

In [6]:
l = [1,2,3]

In [7]:
1 in l # "membership test"

True

In [8]:
5 in l

False

In [9]:
5 not in l

True

In [10]:
for item in l: # looping over elements of a list
    print(f"item is {item}")

item is 1
item is 2
item is 3

In [11]:
if 5 not in l:
    print(f"5 is not in {l}")

5 is not in [1, 2, 3]

In [12]:
l[0] # accessing a list item directly

1

In [13]:
l[1]

2

In [14]:
l[0] = 100 # you can change elements
l

[100, 2, 3]

In [15]:
l.reverse() # IN-PLACE reverse, this function returns nothing

In [16]:
l # watch... it has changed

[3, 2, 100]

In [17]:
l.append(4) # IN-PLACE append, this function returns nothing

In [18]:
l

[3, 2, 100, 4]

In [19]:
l.extend([7, 6, 5]) # in-place extension with another list

In [20]:
l

[3, 2, 100, 4, 7, 6, 5]

In [21]:
l.sort() # in-place sort

In [22]:
l

[2, 3, 4, 5, 6, 7, 100]

In [23]:
l2 = l

In [24]:
del l2[3] # deletes an item

In [25]:
l2

[2, 3, 4, 6, 7, 100]

In [26]:
l # this shouldn't have changed... right?

[2, 3, 4, 6, 7, 100]

Ouch. l2 = l1 did not actually copy the list. This is where Python is a bit confusing to newbies, sadly.

To understand this better, all you need to know is what *references* are.

## important aside: understanding references

Reference: a pointer to some piece of data in the computer's memory, a *memory address*. You can have many references to the same piece of data.

Value: the actual data's value stored in memory. Like, a number, or a string, or a list, or some other object.

When you store some data into a variable in Python, then what you actually do is to declare a name (the name of the variable) with an associated reference to the memory location where the data is stored. This is true for all data. Numbers, strings, lists, objects, whatever.

You can see the memory address a variable points to by calling the id() function. If two variables have the same id(), they reference the same object in memory. If they have a different id(), they reference two different objects.

In [27]:
a = 1
b = 2
print(id(a), id(b))

4456229552 4456229584

The two numbers are stored at distinct memory locations. They are two distinct objects.

Let's make a little helper that determines for us if two variables point to the same data:

In [28]:
def same_ref(ref1, ref2):
    return id(ref1) == id(ref2)

In [29]:
a = 1
b = a
same_ref(a, b)

True

In [30]:
b = 2
same_ref(a, b)

False

What happened here is that we *reassigned* the variable b to *a different object* at *another* location in memory. The same works for strings (and anything else):

In [31]:
s = "hello"
t = s
same_ref(s, t)

True

In [32]:
t = "world"
same_ref(s, t)

False

The thing to keep in your head here to clean up the confusion is to be aware of that you did not change the data that t references. You reassigned t to some other object. Whatever t referenced before is now "forgotten" - at least t has nothing more to do with it.

Things get confusing when things happen *in-place*, like they do with lists:

In [33]:
l = [1,2,3]
m = l
same_ref(l, m)

True

So far, nothing special. It's just the same as above - but maybe still new in your head. Say it out loud: m and l are two variables that reference the same object.

Now it is possible to *change* that object. This is not possible with ints or booleans or even strings (they are *immutable*), but it is possible with lists and many other complex objects (they are *mutable*):

In [34]:
m.append(4)
same_ref(l,m)

True

In [35]:
l.append(5)
same_ref(l,m)

True

In [36]:
print(l, m)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

Which of the potentially many references we use to access the object (and maybe change it) doesn't make a difference.

OK, little challenge. Predict what same_ref(m,l) will be after the following code snippet!

In [37]:
l = [1, 2, 3]
m = l
m = [4, 5, 6]

Rules of thumb:
- if you do a reassignment, then your variable points to another object. The "old" object doesn't change by the assignment alone. The old object might become inaccessible, if no other variables reference it.
- if you "dot into" an object and call some function that has no return value, it might change the object.
- if you "dot into" an object and call some function that has a return value that is not "success" or "fail" or something like that, it likely does not change the object.

Keywords to look out for in documentation are "in-place" and "copy"... sadly, it is not always immediately clear what happens. Usually it is, though.

## back to lists... so how do you copy a list?

Well, like this:

In [38]:
l = [1, 2, 3]
m = l.copy()
same_ref(l, m)

False

In [39]:
m.append(4)
print(l, m)

[1, 2, 3] [1, 2, 3, 4]

You can also copy a part of a list using the powerful *slicing* operator `[start:stop:step]`. Many examples:

In [40]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
l[:] # means: slice with default start (beginning), default stop (end), and default step (every element, forward direction)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
l[::] # same as above - the second colon is optional

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
l[0:10:1] # the whole nine yards

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
l[1:] # start at offset 1

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
l[:5] # stop after 5th element

[1, 2, 3, 4, 5]

In [46]:
l[5:7] # start at offset 5, stop after 7th

[6, 7]

In [47]:
l[:-1] # negative stop means "stop at n-th element from the end"

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
l[::2] # step 2 means every second element

[1, 3, 5, 7, 9]

In [49]:
l[1::2]

[2, 4, 6, 8, 10]

In [50]:
l[::-1] # negative step means backward!

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Iterating through lists... and the range() generator

In [51]:
for item in l[::2]:
    print(item)

1
3
5
7
9

In [52]:
for index, item in enumerate(l[::2]):
    print(index, item)

0 1
1 3
2 5
3 7
4 9

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

You can iterate through range(), but it is not itself a list... it's a bit weird for you now.

In [54]:
range(5)

range(0, 5)

range() objects are special. For you now, you don't need to understand the minutiae. You can do `for i in range(n)` and that's what matters. You can also make a list out of a range easily, like so:

In [55]:
list(range(5))

[0, 1, 2, 3, 4]

In [56]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [57]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [58]:
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

## Tuples

We used these implicitely many times already. Think of a tuple as a fixed-length immutable list.

In [59]:
t = (1, 2, 3)

In [60]:
t

(1, 2, 3)

In [61]:
type(t)

tuple

In [62]:
t.count(0)

0

In [63]:
t[1]

2

In [65]:
t[1] = 0 # assignment will not work!

TypeError: 'tuple' object does not support item assignment

Tuples are often used as function return values - they make it possible to "return several values" when using a list for that is not appropriate. Example:

In [66]:
def min_avg_max(l):
    avg = sum(l) / len(l)
    return (min(l), avg, max(l))

min_avg_max( list(range(1,10)) )

(1, 5.0, 9)

In [67]:
min_l, avg_l, max_l = min_avg_max( list(range(1,10)) )

In [68]:
avg_l

5.0

The return values of enumerate() are tuples, for instance, too:

In [69]:
for i, num in enumerate(range(10, 0, -1)):
    print(i, num)

0 10
1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1

## Sets

Very shortly, sets are in practice much like lists but with unique items:

In [70]:
set([1,1,2,3])

{1, 2, 3}

In [71]:
{1, 2, 3}

{1, 2, 3}

In [72]:
{1, 1, 2, 3}

{1, 2, 3}

In [73]:
s = {1,2,3}

In [74]:
s.add(4)

In [75]:
s

{1, 2, 3, 4}

In [76]:
s.add(4)
s

{1, 2, 3, 4}

In [77]:
s.union({1,2,5}) # this returns a (new) set....

{1, 2, 3, 4, 5}

In [78]:
s # ...so it did not change s!

{1, 2, 3, 4}

In [79]:
s.isdisjoint({8,9})

True

In [80]:
s.isdisjoint({2})

False

## Dictionaries

Dictionaries, in programming at large also known as hashmaps, mappings, maps, and perhaps more names, is a powerful data structure to store any data that can be described with "key -> value" pairs.

In [81]:
lars = {"name": "Lars", "age": 25}

In [82]:
lars

{'name': 'Lars', 'age': 25}

In [83]:
type(lars)

dict

In [84]:
lars["age"] = 26

In [85]:
lars

{'name': 'Lars', 'age': 26}

In [86]:
book = {"name": "Anathem", "author": "Neal stephenson"}

In [87]:
lars["favourite_book"] = book

In [88]:
lars

{'name': 'Lars',
 'age': 26,
 'favourite_book': {'name': 'Anathem', 'author': 'Neal stephenson'}}

In [89]:
book["author"] = "Neal Stephenson"

In [90]:
lars

{'name': 'Lars',
 'age': 26,
 'favourite_book': {'name': 'Anathem', 'author': 'Neal Stephenson'}}

In [91]:
"age" in lars

True

In [92]:
"age_real" in lars

False

In [93]:
for key, value in lars.items():
    print(key, value)

name Lars
age 26
favourite_book {'name': 'Anathem', 'author': 'Neal Stephenson'}

You can have many types of objects as keys and values in dictionaries. All "[hashable](https://docs.python.org/3/glossary.html#term-hashable)" data types work. In layman terms this means that if you can do "a == b" (test for equality) for some data type, then you can use objects of that type as dictionary keys.

All types we came across so far are hashable (I think).